# PLEASE NOTE:

# There is no need to add temporary files here when adding a new source
# file as such files (including .dll and .so) are caught by the general
# rules at the end of this file.

# The only thing you need to add is an executable without extension.

*.bin
.DS_Store
.deps/
.libs/
Makefile
Makefile.in
autogen.log
config.log
autoconf/compile
/aclocal.m4
/autom4te.cache
/cckd2ckd
/cckdcdsk
/cckdcomp
/cckddiag
/cckdswap
/cfba2fba
/ckd2cckd
/config.cache
/config.h
/config.h.in
/config.h.in~
/config.status
/configure
/dasdcat
/dasdconv
/dasdcopy
/dasdinit
/dasdisup
/dasdload
/dasdls
/dasdpdsu
/dasdseq
/dmap2hrc
/dyngui
/dyngui.res
/dyninst
/fba2cfba
/hdt1052c
/hdt1403
/hdt2703
/hdt3088
/hdt3270
/hdt3420
/hdt3505
/hdt3525
/hdteq
/hercifc
/herclin
/hercules
/hercules-*.tar.gz
/hercules.def
/hercules.exp
/hetget
/hetinit
/hetmap
/hetupd
/libtool
/makefile
/msvc.AMD64.bin
/msvc.AMD64.cod
/msvc.AMD64.map
/msvc.AMD64.obj
/msvc.AMD64.pdb
/msvc.dllmod.bin
/msvc.dllmod.cod
/msvc.dllmod.map
/msvc.dllmod.obj
/msvc.dllmod.pdb
/stamp-h
/stamp-h.in
/stamp-h1
/tapecopy
/tapemap
/tapesplt
/vmfplc2
/winbuild

# /html/images/
/html/images/.DS_Store
/html/images/Thumbs.db

# /intl/
/intl/charset.alias
/intl/libintl.h
/intl/ref-add.sed
/intl/ref-del.sed

# /m4/

# /man/

# /po/
/po/POTFILES
/po/nl.gmo
/po/de.gmo
/po/remove-potcdate.sed
/po/stamp-po

# /util/

# GIT Generics - Object Files
*.lo
*.la
*.loT
*.o

# GIT Generics - Libraries
*.lib
*.a

# GIT Generics - Shared Objects (including Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# GIT Generics - Executables
*.exe
*.out
*.app

# Eclipse
.project
.cproject
/.metadata
/.settings

# Visual Studio
/*.aps
/*.idc
/*.pdb
/*.psess
/*BuildLog*
/Hercules_VS*.opensdf
/Hercules_VS*.sdf
/Hercules_VS*.suo
/msvc.*
*.vcxproj.user
.vs
*.VC.db

# Editors
*.aus
*.bak
*~

# QA Testing
allTests.*

# Dynamically generated files
_dynamic_version.h
