
# /
/*.bin
/*.o
/.DS_Store
/.deps
/.libs
/Hercules_VS2010.sdf
/Makefile
/Makefile.in
/aclocal.m4
/archlvl.lo
/assist.lo
/autogen.log
/autom4te.cache
/awstape.lo
/bldcfg.lo
/cache.lo
/cardpch.lo
/cardrdr.lo
/cckd2ckd
/cckdcdsk
/cckdcomp
/cckddasd.lo
/cckddiag
/cckdswap
/cckdutil.lo
/cfba2fba
/cgibin.lo
/channel.lo
/chsc.lo
/ckd2cckd
/ckddasd.lo
/clock.lo
/cmdtab.lo
/cmpsc.lo
/codepage.lo
/comm3705.lo
/commadpt.lo
/con1052c.lo
/config.h
/config.h.in
/config.lo
/config.log
/config.status
/configure
/console.lo
/control.lo
/cpu.lo
/crypto.lo
/ctc_ctci.lo
/ctc_lcs.lo
/ctc_ptp.lo
/ctcadpt.lo
/dasdcat
/dasdconv
/dasdcopy
/dasdinit
/dasdisup
/dasdload
/dasdls
/dasdpdsu
/dasdseq
/dasdtab.lo
/dasdutil.lo
/dat.lo
/decimal.lo
/dfp.lo
/diagmssf.lo
/diagnose.lo
/dmap2hrc
/dyn76.lo
/dyngui
/dyngui.dll
/dyngui.la
/dyngui.lo
/dyngui.res
/dyninst
/dyninst.dll
/dyninst.la
/dyninst.lo
/ecpsvm.lo
/esame.lo
/external.lo
/faketape.lo
/fba2cfba
/fbadasd.lo
/fillfnam.lo
/float.lo
/fthreads.lo
/ftlib.lo
/general1.lo
/general2.lo
/general3.lo
/hao.lo
/hchan.lo
/hconsole.lo
/hdiagf18.lo
/hdl.lo
/hdlmain.lo
/hdt1052c
/hdt1052c.dll
/hdt1052c.la
/hdt1403
/hdt1403.dll
/hdt1403.la
/hdt2703
/hdt2703.dll
/hdt2703.la
/hdt2880.la
/hdt3088
/hdt3088.dll
/hdt3088.la
/hdt3270
/hdt3270.dll
/hdt3270.la
/hdt3420
/hdt3420.dll
/hdt3420.la
/hdt3505
/hdt3505.dll
/hdt3505.la
/hdt3525
/hdt3525.dll
/hdt3525.la
/hdt3705.la
/hdteq
/hdteq.dll
/hdteq.la
/hdteq.lo
/hdtptp.la
/hdtqeth.la
/hercifc
/herclin
/hercules
/hercules-*.tar.gz
/hercules.def
/hercules.exp
/hetget
/hetinit
/hetlib.lo
/hetmap
/hettape.lo
/hetupd
/history.lo
/hostinfo.lo
/hsccmd.lo
/hscemode.lo
/hscloc.lo
/hscmisc.lo
/hscpufun.lo
/hscutl.lo
/hscutl2.lo
/hsocket.lo
/hsys.lo
/httpserv.lo
/ieee.lo
/impl.lo
/io.lo
/ipl.lo
/libfthreads.la
/libherc.la
/libhercd.la
/libhercs.la
/libherct.la
/libhercu.la
/libtool
/loadmem.lo
/loadparm.lo
/logger.lo
/logmsg.lo
/losc.lo
/ltdl.lo
/machchk.lo
/makefile
/memrchr.lo
/msvc.AMD64.bin
/msvc.AMD64.map
/msvc.AMD64.obj
/msvc.AMD64.pdb
/msvc.dllmod.bin
/msvc.dllmod.map
/msvc.dllmod.obj
/msvc.dllmod.pdb
/omatape.lo
/opcode.lo
/panel.lo
/parser.lo
/pfpo.lo
/plo.lo
/printer.lo
/pttrace.lo
/qdio.lo
/qeth.lo
/resolve.lo
/rexx.lo
/s37x.la
/s37x.lo
/s37xmod.lo
/scedasd.lo
/script.lo
/scsitape.lo
/service.lo
/shared.lo
/sie.lo
/sllib.lo
/sockdev.lo
/sr.lo
/stack.lo
/stamp-h
/stamp-h.in
/stamp-h1
/strsignal.lo
/tapeccws.lo
/tapecopy
/tapedev.lo
/tapemap
/tapesplt
/timer.lo
/trace.lo
/tuntap.lo
/vector.lo
/version.lo
/vm.lo
/vmd250.lo
/vmfplc2
/vstore.lo
/w32chan.lo
/w32ctca.lo
/w32stape.lo
/w32util.lo
/winbuild
/xstore.lo

# /SoftFloat/
/SoftFloat/.deps
/SoftFloat/.libs
/SoftFloat/libSoftFloat.la
/SoftFloat/Makefile
/SoftFloat/Makefile.in
/SoftFloat/SoftFloat.lo

# /crypto/
/crypto/.deps
/crypto/.libs
/crypto/Makefile
/crypto/Makefile.in
/crypto/dyncrypt.la
/crypto/dyncrypt.lo
/crypto/sha1.lo
/crypto/aes.lo
/crypto/des.lo
/crypto/sha256.lo

# /decNumber/
/decNumber/.deps
/decNumber/.libs
/decNumber/Makefile
/decNumber/Makefile.in
/decNumber/libdecNumber.la
/decNumber/decContext.lo
/decNumber/decimal128.lo
/decNumber/decimal32.lo
/decNumber/decimal64.lo
/decNumber/decNumber.lo
/decNumber/decPacked.lo

# /html/
/html/Makefile.in
/html/Makefile
/html/.DS_Store

# /html/images/
/html/images/.DS_Store
/html/images/Thumbs.db

# /intl/
/intl/Makefile
/intl/.libs
/intl/bindtextdom.lo
/intl/charset.alias
/intl/dcgettext.lo
/intl/dcigettext.lo
/intl/dcngettext.lo
/intl/dgettext.lo
/intl/dngettext.lo
/intl/explodename.lo
/intl/finddomain.lo
/intl/gettext.lo
/intl/intl-compat.lo
/intl/l10nflist.lo
/intl/libintl.h
/intl/libintl.la
/intl/loadmsgcat.lo
/intl/localcharset.lo
/intl/localealias.lo
/intl/localename.lo
/intl/ngettext.lo
/intl/osdep.lo
/intl/plural-exp.lo
/intl/plural.lo
/intl/ref-add.sed
/intl/ref-del.sed
/intl/textdomain.lo

# /m4/
/m4/Makefile
/m4/Makefile.in

# /man/
/man/Makefile
/man/Makefile.in

# /po/
/po/Makefile.in
/po/Makefile
/po/POTFILES
/po/nl.gmo
/po/de.gmo
/po/remove-potcdate.sed
/po/stamp-po

# /util/
/util/Makefile.in
/util/Makefile
