/////////////////////////////////////////////////////////////////////////////////////////
// dyngui.rc  --  defines the Windows resources to be linked into the product
//                (c) Copyright "Fish" (David B. Trout), 2003
/////////////////////////////////////////////////////////////////////////////////////////

#if defined(HAVE_CONFIG_H)
#include <config.h>         // (needed 1st to set DEBUG flag appropriately)
#endif
#include "dynguip.h"        // (product defines)
#include "dynguiv.h"        // (version defines)

/////////////////////////////////////////////////////////////////////////////////////////

1 VERSIONINFO

FILEVERSION    DYNGUI_VERMAJOR_NUM, DYNGUI_VERINTER_NUM, DYNGUI_VERMINOR_NUM, BUILDCOUNT_NUM
PRODUCTVERSION DYNGUI_VERMAJOR_NUM, DYNGUI_VERINTER_NUM, DYNGUI_VERMINOR_NUM, BUILDCOUNT_NUM

FILEFLAGSMASK  0x3f
FILEOS         0x4
FILETYPE       0x2

BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN

// Standard/Required Attributes...

      VALUE "FileDescription",  DYNGUI_PRODUCT                       "\0"
      VALUE "FileVersion",      DYNGUI_VERSION                       "\0"
      VALUE "ProductName",      DYNGUI_PRODUCT                       "\0"
      VALUE "ProductVersion",   DYNGUI_VERSION                       "\0"
      VALUE "CompanyName",      DYNGUI_COMPANY                       "\0"
      VALUE "LegalCopyright",   DYNGUI_COPYRIGHT " " DYNGUI_COMPANY  "\0"
      VALUE "Comments",         "(none)"                             "\0"

// Custom Attributes...

      VALUE "Product URL",      DYNGUI_PRODUCT_URL        "\0"
      VALUE "Product Email",    DYNGUI_PRODUCT_EMAIL      "\0"
      VALUE "Hercules URL",     HERCULES_PRODUCT_URL      "\0"
      VALUE "Hercules Email",   HERCULES_PRODUCT_EMAIL    "\0"
      VALUE "Hercules Version", VERSION                   "\0"

#if defined(DEBUG) || defined(_DEBUG)
      VALUE "SpecialBuild",    "DEBUG version"            "\0"
#endif

    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END

/////////////////////////////////////////////////////////////////////////////////////////
