/*
 * Resource-definition script file for decNumber DLL (MSVC)
 *
 * This file was added by the Hercules project.
 * It is not part of the original decNumber distribution.
 *
 * the IBM copyright info was different in many modules
 * here the most comprehensive one is used
 *
 */

#include <winver.h>

  #define DECNAME     "decNumber"                       /* Short name */
  #define DECVERSION  "decNumber 3.68"           /* Version [16 max.] */
  #define DECFULLNAME "Decimal Number Module"         /* Verbose name */
  #define DECAUTHOR   "Mike Cowlishaw"                /* Who to blame */

  #define DECCOPYRIGHT "Copyright (c) IBM Corporation, 2000, 2010"
  #define DECLICENSE   "ICU License -- ICU 1.8.1 and later"
  #define DECVERMAJOR 3                       /* Major version number */
  #define DECVERMINOR 68                      /* Minor version number */

  #define SPECIALINFO "Built for Hercules"

1 VERSIONINFO
 FILEVERSION    DECVERMAJOR,DECVERMINOR,0,0
 PRODUCTVERSION DECVERMAJOR,DECVERMINOR,0,0
 FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
 FILEFLAGS      VS_FF_SPECIALBUILD
 FILEOS         VOS__WINDOWS32
 FILETYPE       VFT_DLL

BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0" /* US English, Unicode */
    BEGIN
      VALUE "Comments",         DECLICENSE              "\0"
      VALUE "CompanyName",      DECAUTHOR               "\0"
      VALUE "FileDescription",  DECFULLNAME             "\0"
      VALUE "FileVersion",      DECVERSION              "\0"
      VALUE "LegalCopyright",   DECCOPYRIGHT            "\0"
      VALUE "ProductName",      DECFULLNAME             "\0"
      VALUE "ProductVersion",   DECVERSION              "\0"
      VALUE "SpecialBuild",     SPECIALINFO             "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation",0x409,0x4B0 /* US English, Unicode */
  END
END
