<style type="text/css">
<!--
body {margin-left:20; margin-right:20; color:black; font-family:Arial}
h1, h2, h3, h4 {font-family:Arial;
                font-weight:bold; font-style:rounded}
h1 {color:blue}
h2 {color:red; font-style:italic}
p {color:black; font-family:Arial}
pre, code {font-family:Courier}
blockquote.box
{
    padding:          12px;
    margin-left:      4%;
    border-style:     solid;
    border-width:     1px;
    font-style:       italic;
    margin-right:     10%;
}
-->
</style>
