<style type="text/css">
<!--
body {color:black; font-family:Arial}
h1, h2, h3, h4 {font-family:Arial;
                font-weight:bold; font-style:rounded}
h1 {color:blue}
h2 {color:red; font-style:italic}
p {color:black; font-family:Arial}
pre, code {font-family:Courier}
-->
</style>
