rexx
maxcpu    1
numcpu    1
cpumodel  2097
cpuserial 000000
panrate   fast
archlvl   s/390           # (cmpsc.txt needed execution arch)
mainsize  16              # (cmpsc.txt test program minimum)
0000 3215-C noprompt      # (at least one device is required)
